fastapi==0.115.6
uvicorn==0.32.1
pymupdf==1.24.11
pandas==2.2.3
pydantic==2.7.4
langchain==0.3.13
langgraph==0.2.60
langchain-openai==0.2.14
langchain-community==0.3.13
networkx==3.2.1
faiss-cpu==1.7.4
numpy==1.26.4
pymongo==4.6.1
motor==3.3.2
python-dotenv==1.0.0
langfuse==2.60.10
httpx==0.27.2
tiktoken==0.7.0
slowapi==0.1.9
python-multipart==0.0.9
