fastapi
uvicorn[standard]
pymupdf
pandas
pydantic
openai==1.51.2
langchain
langgraph
langchain-openai
langchain-community
networkx
faiss-cpu
numpy
pymongo
motor
python-dotenv
langfuse==2.60.0
httpx
tiktoken
